<h1>Charts</h1>
<h3>Vertical Bar Chart</h3>
<div class="charts">
  <ngx-charts-bar-vertical
      [view]="view"
      [results]="single"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [scheme]="colorScheme"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [yScaleMax]="yScaleMax"
      [yScaleMin]="yScaleMin"
      [barPadding]="barPadding"
    >
  </ngx-charts-bar-vertical>
  </div>